html,
body{
		margin: auto;
    padding: 0;
		font-size: 16px;
		line-height: 22px;
		color: #283136;
		font-weight: 500;
		font-family: "Roboto", "Roboto Medium", "Arial",sans-serif;
}

.clearfix:after {
	content:"";
	display: table;
	clear: both;
}

.left {float: left;}
.right {float: right;}

h1 {
	font-size: 40px;
	line-height: 48px;
	color: black;
	font-weight: 500;
	font-family: Roboto;
	text-transform: uppercase;
}

h2 {
	font-size: 36px;
	line-height: 36px;
	color: black;
	font-weight: 500;
	font-family: Roboto;
}

h3 {
	font-size: 18px;
	line-height: 30px;
	color: black;
	font-weight: 500;
	font-family: Roboto;
	text-transform: uppercase;
}

h4 {
	font-size: 16px;
	line-height: 30px;
	color: black;
	font-weight: 500;
	font-family: Roboto;
	text-transform: uppercase;
}

.main-header {
	min-height:436px;
	margin-bottom: 82px;
	outline: solid green 1px;
}

.container {
	width: 880px;
	padding: 0 10px;
	margin: 0 auto;
}

.header-top {
	height: 85px;
	margin-bottom:20px;
	outline: solid orange 1px;
}

.logo {
	float: left;
	width: 139px;
	height: 56px;
	margin-right: 20px;
	margin-top: 29px;
	outline: solid red 1px;
}

.main-navigation {
	margin-top:29px;
	min-width: 600px;
	outline: solid red 1px;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation li {
	display: inline-block;
	vertical-align:top;
}

.cart {
	display: inline-block;
	width: 100px;
	margin-left:20px;
	margin-top:56px;
	outline: solid red 1px;
}

.slider {
	clear:both;
	min-height: 320px;
	outline: solid blue 1px;
}

.slide {
	width:100%;
	height:100%;
	outline: solid red 1px;
}	

.services {
	margin-bottom: 80px;
	outline:solid orange 1px;
}

.service{
	float:left;
	min-height: 299px;
	width: 240px;
	text-align: left;
	margin-right: 79px;
	outline: solid grey 1px;	
}

.service:last-child {
	margin-right:  0;
}

.info-content {
	margin-top: 58px;
	margin-bottom: 45px;
	outline: solid green 1px;
}

.info-content-left{
	width: 590px;
	outline:  solid red 1px;
}

.info-content-right {
	width: 240px;
	outline:  solid red 1px;
}

.partners {
	min-height: 90px;
	margin-top: 45px;
	margin-bottom: 27px;
	outline: solid blue 1px;
}

.partners-logo {
	margin-right: 106px;
	margin-left:12px;
	display: inline-block;
	vertical-align: middle;
	outline:solid red 1px;
}

.partners-logo:last-child {
	margin-right: 10px;
}

.main-footer {
	margin-top:85px;
	outline: solid green 1px;
}

.map {
	position:relative;
	height: 416px;
	margin-bottom: 77px;
	outline:  solid yellow 1px;
}

.contacts {
	position: absolute;
	top:88px;
	width: 250px;
	height: 240px;
	outline: solid blue 1px;
}

.spear {
	position: absolute;
	width: 231px;
	height: 190px;
	right: 190px;
	top: 112px;
	outline: solid blue 1px;
}

.footer-socials {
	display: inline-block;
	height: 60px;
	width: 250px;
	margin-right: 50px;
	outline: solid red 1px
}

.slogan {
	display: inline-block;
	margin-top:0px;
	min-height: 74px;
	width: 560px;
	outline: solid red 1px;
}

.slogan h2 {
	margin:0;
}
/*внутр страница*/

.main-header-inner {
	outline: solid green 1px;
}

.main-header-invite{
	min-height:171px;
	width: 700px;
	margin: auto;
	margin-top:65px;
	text-align:center; 
	margin-bottom:88px;
	outline: solid red 1px;
}

.main-header-invite h1{
	margin: 0;
}

.left-section {
	width: 240px;
	outline: solid green 1px;
}

.right-section {
	width: 560px;
	outline: solid green 1px;
}

.price-filter {
	margin-bottom: 53px;
	outline: solid blue 1px;
}

.net-filter,
.features-filter {
	margin-bottom: 57px;
	outline: solid blue 1px;
}

.filters input {
	display: none;
}

.net-filter label,
.features-filter label{
	display: block;
}

.sorting-type-header {
	outline: solid orange 1px;
}

.item {
	display: inline-block;
	float: left;
	width: 240px;
	height: 270px;
	margin-bottom:80px;
	outline: solid blue 1px;
}

.item:nth-child(2n) {
	float: right;
}

.hidden-item-txt {
	display: none;
}







